ChampSim/bin/*
ChampSim/results_1M/*
.vscode/*

ChampSim/dpc3_traces/600.perlbench_s-210B.champsimtrace.xz
ChampSim/dpc3_traces/625.x264_s-18B.champsimtrace.xz
ChampSim/dpc3_traces/649.fotonik3d_s-1176B.champsimtrace.xz